/* Universal */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: #B6C7BE;
  font-family: 'Roboto', cursive;
  text-align: center;
}

.header {
  height: 200px;
  background-color: #C7C6B6;
}

.header h1 {
  color: white;
  font-family: 'Autour One';
  font-size: 60px;
}

.header h2 {
  color: black;
  font-family: 'Roboto';
  font-weight: 50;
  font-style: italic;
  font-size: 30px;
}